<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Questões</title>


    <link rel="stylesheet" href="new.css">


</head>

<body  bgcolor="#D3D3D3">


    <div class="direito">

    </div>
    <h2>Banco de Questões Eletroeletrônica </h2>


    <form action=" " method="post">
      <input type="search" id="busca" name="q">
      <button type="submit">Buscar Materia</button>
    </form>

        <br>
        <br>
        <br>

        <center>
        <a href="Facil.html"><button>Facil</button></a>
        <a href="Medio.html"><button>Medio</button></a>
        <a href="Dificil.html"><button>Dificil</button></a>
      </center>

    </nav>


















</body>
</html>