<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Questões</title>

    <link rel="stylesheet" href="css/new.css">

    
</head>

<body  bgcolor="#D3D3D3">

    <div class="direito">
        
    </div>

    <h2>Banco de Questões - Eletroeletrônica </h2>

    <h3>Eletricidade</h3>
        <left>
        <a href="/questoes?dificuldade=facil&modulo=eletricidade basica"><button>Facil</button></a>
        <a href="Medio.html"><button>Medio</button></a>
        <a href="Dificil.html"><button>Dificil</button></a>
        </left>

        <br>

        <h3>Instalações Elétricas</h3>
        <left>
        <a href="Facil2.hml"><button>Facil</button></a>
        <a href="Medio2.html"><button>Medio</button></a>
        <a href="Dificil2.html"><button>Dificil</button></a>
        </left>

        <br>

        <h3>Máquinas Elétricas e Acionamentos</h3>
        <left>
        <a href="Facil3.html"><button>Facil</button></a>
        <a href="Medio.3.html"><button>Medio</button></a>
        <a href="Dificil3.html"><button>Dificil</button></a>
        </left>

    </nav>
    
</body>
</html>